/* Root vai definir que as VARs (--color) funcionem corretamente dentro do CSS */
:root {
    --color-light-gray: #f5f5f5;
    --color-black: #000000; 
    --color-dark-gray: #2e2e2e;
    --color-pale-blue: #c0c7d5;
    --color-green: #66bb6a;
    --color-blue: #3399ff;
    --color-darker-blue: #007acc;
    --color-blue-gray: #9eacb5;
    --color-light-gray-blue: #e0e0e0;
    --color-white: #ffffff;
}

body {
    font-family: 'Roboto', Arial, sans-serif; 
    background-color: var(--color-light-gray); 
    color: var(--color-black); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px; /* Espaço para o header fixo */
}

/* Navbar */
.navbar {
    background-color: var(--color-dark-gray);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001; 
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1em;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: var(--color-darker-blue);
    color: var(--color-white);
    border-radius: 4px;
}

header {
    background-color: var(--color-blue-gray); 
    color: var(--color-black); 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700; 
    color: var(--color-black); 
}

.services-box h2 {
    color: var(--color-black); 
    margin: 0;
    font-size: 1.2em; 
}

.services-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em; 
}

.services-box li {
    margin-bottom: 10px; 
}
/* Estilos dos botões */
.cta-button, .contact-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    text-decoration: none;
    color: var(--color-white); 
    background-color: var(--color-blue); 
    border-radius: 4px; 
    transition: background-color 0.3s;
    font-size: 1em; 
}

/* Botão CTA */
.cta-button:hover, .contact-button:hover {
    background-color: var(--color-darker-blue); 
}

/* Estilo do banner */
.banner {
    background-color: var(--color-pale-blue); 
    color: var(--color-black);
    padding: 20px;
    text-align: center;
    margin-top: 20px; 
    position: relative; 
}

.banner img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.banner h2 {
    font-size: 2em; 
    margin: 0;
    color: var(--color-white); 
}
/* Estilos das seções de produtos e contato */
.section {
    padding: 40px 20px;
}

.products, .contact, .about {
    background-color: var(--color-white); 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-black); 
}

.products h2, .contact h2, .about h2 {
    color: var(--color-black); 
}

/* Estilos do rodapé */
footer {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

/* Deixa a página responsiva */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .services-box {
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .banner {
        padding: 10px;
    }

    .banner img {
        width: 100%; /* Ajusta a largura da imagem */
    }
}

/* Deixa a página responsiva */
@media (max-width: 480px) {
    .banner h2 {
        font-size: 1.5em;
    }

    .products, .contact, .about {
        padding: 15px;
    }

    .cta-button, .contact-button {
        padding: 8px 16px;
    }
}
